// This file is only for the variables.
// It was created to keep the main scss file cleaner
// It functions by importing it into "main.scss" on the first line:
// @import 'config';

// These are variables
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

// Mixins are used on scss files. 
// @mixin and @include makes it easy to re-use CHUNKS OF STYLES.

// transition for links on social media icons on hover
@mixin easeOut {
    transition: all 1.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            
            
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

// Set text colour
@function set-text-color($color) {
    @if (lightness($color)) > 40 {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media query mixins - different screen sizes
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd { 
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px)
    and (max-width: 1170px) {
        @content;
    }
}


@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}