// Menu button

//Class:



.menu-btn {
    // z-index means it is close to the front.
    // Absolute means the button is removed from the normal
    // document flow
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer; // When hovering
    @include easeOut; // For the transition

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #808080;
        @include easeOut;
    }

    //Rotate into X with Menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - rotate / translate repositions the line
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // Line 2 - hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - rotate and translate (reposition)
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }

}

// Menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    //&-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: right;
        width: 40%;
        height: 100vh;
        overflow: hidden; // to avoid scrollbars
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none; // eliminates bullet points
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    .nav-item {
        transform: translate3d(0, 0, 0);
        @include easeOut;
        
        &.show {
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            color: #d90f0f;
        }
    }

    .nav-link {
        display: inline block;
        position: relative;
        font-size: 15px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;

        &:hover {
            color: #d90f0f;
        }
    }
}

// Delay each nav item by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.01s;
    }
}

//position of dark mode toggle button
 // z-index means it is close to the front.
    // Absolute means the button is removed from the normal
    // document flow

    .darkmode {    
        position: absolute;
        z-index: -1;
        right: 60px;
        top: 32px;
        display: inline;
        font-size: 3rem;
        width: 60px;
        cursor: pointer; // When hovering
    }
